html {
  background-color: #f8f8f8;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  align-items: flex-start;
}

.card {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(13, 35, 67, 0.1),
    0px 0px 2px rgba(13, 35, 67, 0.1);
  border-radius: 8px;
  padding: 20px 32px 28px;
  margin: 20px 40px;
}

.scripts {
  min-width: 220px;
}

.scripts__script {
  display: flex;
  padding: 4px 8px;
  border-bottom: 1px solid #dfdede;
  align-items: baseline;
}

.scripts__script-name {
  font-weight: bold;
  margin-right: 8px;
  flex: 1;
}

.scripts__script-state[data-state="running"] {
  background-color: greenyellow;
}

.scripts__script-state[data-state="stopped"] {
  background-color: tomato;
}

.stdout__content {
  font-family: "Courier New", Courier, monospace;
}
